<%- include('layouts/header'); -%>
  <% products.forEach( element=> { %>
    <div class="card mb-3">
      <img style="width:600px; margin: 20px;" class="card-img-top" src="<%= element.image %>" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          <%= element.productName %>
        </h5>
        <p class="card-text">
          <%= element.productDescription %>
            <span style="display: block; font-weight: bold;">$<%= element.price %></span>
        </p>
        <a href="#" onclick="addCart(<%= element.id %>)" class="btn btn-success">Agregar al carro</a>
      </div>
    </div>
    <% }); %>
      </body>

      </html>