<%- include('layouts/header'); -%>
  <div class="card mb-3">
    <!-- <img style="width:400px; margin: auto; margin-top: 15px; border-style: solid; border-radius: 5%;"
      class="card-img-top" src="<%= user.image %>" alt="..."> -->
    <div class="card-body">
      <h5 style="font-size: 10pt;" class="card-title">
        Nombre: <%= user.username %>
      </h5>
      <h5 style="font-size: 10pt;" class="card-title">
        Edad: <%= user.age %>
      </h5>
      <h5 style="font-size: 10pt;" class="card-title">
        Dirección: <%= user.address %>
      </h5>
      <h5 style="font-size: 10pt;" class="card-title">
        Email: <%= user.email %>
      </h5>
    </div>
  </div>

  </body>

  </html>