<%- include('layouts/header'); -%>
  <% if (products.length) { %>
    <% products.forEach( element=> { %>
      <div class="card mb-3">
        <img style="width:400px; margin: auto; margin-top: 15px; border-style: solid; border-radius: 5%;"
          class="card-img-top" src="<%= element.image %>" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <%= element.productName %>
          </h5>
          <p class="card-text">
            <%= element.productDescription %>
              <span style="display: block; font-weight: bold;">$<%= element.price %></span>
          </p>
          <form action="addCart" method="POST">
            <input type="hidden" name="email" value=<%=user.email %>>
            <input type="hidden" name="productId" value=<%=element.id %>>
            <input type="hidden" name="productName" value=<%=element.productName %>>
            <input type="hidden" name="price" value=<%=element.price %>>
            <input type="hidden" name="image" value=<%=element.image %>>
            <button type="submit" class="btn btn-success">Agregar al carro</button>
          </form>
        </div>
      </div>
      <% });} else {%>
        <div>No products available</div>
        <% } %>
          </body>

          </html>