<h1>Vista de Productos</h1>
{{#if hasProducts}}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>foto</th>
        </tr>
    </thead>
    <tbody>
        {{#each listProducts}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td><img src="{{this.thumbnail}}" alt="{{this.title}}" width="24" height="24"></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="alert alert-warning" role="alert">
    No hay productos
</div>
{{/if}}