<%- include('layouts/header'); -%>
  <% if (products) {%>
    <% products.forEach( element=> { %>
      <div class="card mb-3">
        <img style="width:100px; margin: 15px 0px 0px 15px; border-style: solid; border-radius: 5%;"
          class="card-img-top" src="<%= element.image %>" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <%= element.productName %>
          </h5>
          <h5 class="card-title">
            <span style="font-size:10pt">Cantidad: <%= element.quantity %></span>
          </h5>
          <p class="card-text">
            <%= element.productDescription %>
              <span style="font-size:10pt;display: block; font-weight: bold;">$<%= element.price * element.quantity %>
              </span>
          </p>

        </div>
      </div>
      <% }); %>
        <div class="container-fluid">
          <div class="row">
            <div class="col=4">
              <form action="paycart" method="POST">
                <input type="hidden" name="username" value=<%=user.username %>>
                <button type="submit" style="margin-left: 15px;" class="btn btn-success">Pagar</button>
              </form>
            </div>
            <div class="col=4">
              <form action="removecart" method="POST">
                <input type="hidden" name="username" value=<%=user.username %>>
                <button type="submit" style="margin-left: 15px;" class="btn btn-danger">Eliminar Carrito</button>
              </form>
            </div>
          </div>
        </div>
        <% } %>

          </body>

          </html>